{
  "swagger": "2.0",
  "info": {
    "title": "API de Clinica",
    "description": "Documentacion generada por autogen",
    "version": "1.0.0"
  },
  "host": "c87k99jw-3000.brs.devtunnels.ms",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/recetas/": {
      "get": {
        "tags": [
          "Recetas"
        ],
        "summary": "Obeter la lista de recetas",
        "description": "",
        "parameters": [
          {
            "name": "cita_id",
            "in": "query",
            "descriptiion": "filtra por numero de cita",
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Recetas"
        ],
        "summary": "crea una nueva receta",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Datos para crear una nueva receta",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cita_id": {
                  "type": "number",
                  "example": 1
                },
                "medicamentos": {
                  "type": "array",
                  "example": [
                    "Ibuprofeno",
                    "Paracetamol"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "indicaciones": {
                  "type": "string",
                  "example": "tomar cada 8 horas"
                },
                "fecha_emision": {
                  "type": "string",
                  "example": "11-07-2026"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/recetas/{id}": {
      "get": {
        "tags": [
          "Recetas"
        ],
        "summary": "encutra recetas por el ID",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "Recetas"
        ],
        "summary": "actualizar una receta segun el id",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID de receta que desea actualizar"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Datos que desea actualizar",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cita_id": {
                  "type": "number",
                  "example": 1
                },
                "medicamentos": {
                  "type": "array",
                  "example": [
                    "Ibuprofeno",
                    "Naproxeno"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "indicaciones": {
                  "type": "string",
                  "example": "cada 3 horas por 5 dias"
                },
                "fecha_emision": {
                  "type": "string",
                  "example": "21-02-2026"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Recetas"
        ],
        "summary": "eliminar una recesta segun el ID",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID de la receta que desea eliminar"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/pacientes/": {
      "get": {
        "tags": [
          "Paciente"
        ],
        "summary": "Obtener todos los pacientes",
        "description": "Obtiene la lista completa de pacientes registrados.",
        "responses": {
          "200": {
            "description": "Lista de pacientes obtenida correctamente",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": 2
                  },
                  "nombre": {
                    "type": "string",
                    "example": "Carlos"
                  },
                  "apellidos": {
                    "type": "string",
                    "example": "Gómez"
                  },
                  "edad": {
                    "type": "number",
                    "example": 45
                  },
                  "telefono": {
                    "type": "string",
                    "example": "098765432"
                  },
                  "seguroMedico": {
                    "type": "boolean",
                    "example": false
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Paciente"
        ],
        "summary": "Crear un nuevo paciente",
        "description": "Registra un nuevo paciente en el sistema.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "nombre": {
                  "type": "string",
                  "example": "Ana"
                },
                "apellidos": {
                  "type": "string",
                  "example": "Pérez"
                },
                "edad": {
                  "type": "number",
                  "example": 30
                },
                "telefono": {
                  "type": "string",
                  "example": "099123456"
                },
                "seguroMedico": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Paciente creado exitosamente"
          },
          "400": {
            "description": "Faltan datos"
          }
        }
      }
    },
    "/api/pacientes/{id}": {
      "get": {
        "tags": [
          "Paciente"
        ],
        "summary": "Obtiene un paciente por su id",
        "description": "Muestra la información del paciente especificado",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID del paciente"
          }
        ],
        "responses": {
          "200": {
            "description": "Registro de paciente encontrado exitosamente"
          },
          "404": {
            "description": "No existe un paciente con ese id"
          }
        }
      },
      "delete": {
        "tags": [
          "Paciente"
        ],
        "summary": "Eliminar un registro",
        "description": "Elimina un registro de paciente por su id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID del paciente que se desea eliminar"
          }
        ],
        "responses": {
          "200": {
            "description": "Registro de paciente eliminado correctamente"
          },
          "404": {
            "description": "No existe un paciente con ese id"
          }
        }
      },
      "put": {
        "tags": [
          "Paciente"
        ],
        "summary": "Modificar registro de paciente",
        "description": "Modifica los campos de un registro de paciente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID del paciente que se desea modificar"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "nombre": {
                  "type": "string",
                  "example": "Ana"
                },
                "apellidos": {
                  "type": "string",
                  "example": "Pérez"
                },
                "edad": {
                  "type": "number",
                  "example": 30
                },
                "telefono": {
                  "type": "string",
                  "example": "099123456"
                },
                "seguroMedico": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paciente modificado correctamente"
          },
          "404": {
            "description": "Paciente no encontrado"
          }
        }
      }
    },
    "/api/citas/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "fecha",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pacienteId": {
                  "example": "any"
                },
                "medicoId": {
                  "example": "any"
                },
                "fechaHora": {
                  "example": "any"
                },
                "motivo": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/citas/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pacienteId": {
                  "example": "any"
                },
                "medicoId": {
                  "example": "any"
                },
                "fechaHora": {
                  "example": "any"
                },
                "motivo": {
                  "example": "any"
                },
                "estado": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/medicos/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "especialidad",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "telefono": {
                  "example": "any"
                },
                "nombre": {
                  "example": "any"
                },
                "especialidad": {
                  "example": "any"
                },
                "turno": {
                  "example": "any"
                },
                "activo": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/medicos/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "turno": {
                  "example": "any"
                },
                "telefono": {
                  "example": "any"
                },
                "activo": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  }
}